.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    
}
.cardloading{
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

.homeContainer{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.cardContainer{
    width: 50%;
    height: 50%;
    margin-top: 10%;
    
}
.usercard{
    width: 45%;
    height: 350px;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(8, 8, 48, 0.5);
    border-radius: 5px;
}

img{
    border-radius: 100%;
    margin-top: 12%;
}
.contents{
    margin-top: 15%;
    color: white;
}


.btnContainer{
    margin-left: 5%;
    position: fixed;
    margin-top: 10%;
}

.btns{
    background-color: #FF2626;
    width: 100px;
    height: 40px;
    margin: 10%;
    border: none;
    border-radius: 5px;
    color: white;
    
}
.btns:hover{
    background-color: #BD1616;
}
.btns:focus{
    border: 2px solid white;
    background-color: #BD1616;
}
@media screen and (max-width: 750px) {
    .homeContainer{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .btnContainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-self: center;
        margin-left: 0%;
        position: relative;
        margin-top: 50%;

    }
    .btns{
        width: 70px;
        height: 40px;
        margin:2px;
        position: relative;
    }
    .cardContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;    
        margin-top: 20%;
        
    }
    .usercard{
        width: 80%;
    }
     
    img{
        width: 110px;
    }
  } 
